@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Maven+Pro&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 100vw;
    height:100vh;
    background: linear-gradient(to bottom, #396afc, #2948ff);
    display: flex;
}

.navbar {
    height: 80px;
    width: 100%;
    background: rgba(253, 152, 0, 0.158);
    border-bottom-width: 5px;
    border-color: rgba(210, 105, 30, 0.103);
    border-bottom-style: double;
}

.logo {
    width: 50px;
    float: left;
    margin: 15px 65px;
}

.navbar h1 {
    color: rgba(255, 255, 255, 0.774);
    margin-left: 40%;
    padding: 20px;
    font-family: 'Maven Pro', cursive;
    font-size: 2rem;
    letter-spacing: 5px;
    text-shadow: 3px 3px 20px;
    font-style: italic;
}

.maincontent {
    position: absolute;
    top: 18%;
    left: 20%;
    padding: 150px;
    background: linear-gradient(to right, #8d44ad60, #c03a2b98); 
    border-radius: 40px;
    border: 2px double rgba(0, 255, 255, 0.664);
}

.maincontent h1 {
    color: rgb(0, 119, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 10rem;
    text-transform: lowercase;
    text-decoration: overline;
    text-decoration-style: dotted;
    text-decoration-color: #200122;
    text-shadow: 4px 4px 10px rgba(0, 105, 243, 0.466);
}

